html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  font-family: 'TT Norms', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 81.25rem; // 1300px
  --layout-padding: 5rem; // 80px
  --layout-v-padding: 3.75rem; // 60px
}

.l-default,
.l-wide {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.l-default {
  @media all and (max-width: 1399px) {
    padding: 0 var(--layout-padding);
  }
  @media all and (max-width: 1199px) {
    --layout-padding: 1.875rem; // 30px
    --layout-v-padding: 2.5rem; // 40px
  }
  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
    --layout-v-padding: 2rem; // 32px
  }
}

.l-wide {
  --layout-width: 96.25rem; // 1540px
  --layout-padding: 1rem; // 30px
  --layout-padding-main: 0; // 0px

  padding: 0 var(--layout-padding);

  @media all and (min-width: 768px) {
    --layout-padding-main: 1.875rem; // 16px
    --layout-padding: 1.875rem; // 16px
  }

  &--main {
    padding: 0 var(--layout-padding-main);
  }
}

.s-border {
  border-radius: var(--border-radius-x3);
}

.s-padding {
  padding: var(--a-padding-x10) var(--a-padding-x4);

  @media screen and (min-width: 768px) {
    padding: var(--a-padding-x12) var(--a-padding-x8);
  }

  @media screen and (min-width: 1140px) {
    padding: var(--a-padding-x15) var(--a-padding-x17);
  }
}

.s-margin {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 1.5rem auto;
  }

  @media screen and (min-width: 1140px) {
    margin: 2.5rem auto;
  }
}

.s-title {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.25rem;

  @media screen and (min-width: 768px) {
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 2.25rem;
  }

  @media screen and (min-width: 1140px) {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.25rem;
  }
}

// stylelint-disable-next-line
#__nuxt {
  height: 100%;
}

.s-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.s-main {
  flex: 1 auto;
  width: 100%;
}

.title {
  &--h2 {
    font-weight: 500;
    font-size: 34px;
    line-height: 52px;

    color: #ffffff;
    @media screen and (min-width: 991px) {
      font-size: 48px;
    }
  }
}
