@use '@/assets/styles/tools/mixins' as *;

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  background-color: var(--color-white);
  font-family: 'TT Norms', sans-serif;
  font-size: 16px;
  @media all and (min-width: 768px) {
    cursor: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  @media all and (min-width: 768px) {
    cursor: none;
  }
}

button {
  background: transparent;
  border: none;
  outline: none;
  @media all and (min-width: 768px) {
    cursor: none;
  }
}

.s-layout {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  min-width: rem(360);
  height: 100%;
  margin: auto;
  color: #16182b;
}

.container {
  width: 100%;
  max-width: rem(1400);
  margin: 0 auto;
  padding: 0 rem(20);

  @media all and (min-width: 992px) {
    padding: 0 rem(40);
  }
}

.main {
  padding-top: rem(50);
}
