.s-title {
  color: var(--color-second);
  font-size: rem(24);
  font-weight: 500;
  line-height: 130%;

  // @media screen and (min-width: 768px) {
  //   font-size: rem(34);
  //   font-weight: 500;
  //   line-height: rem(36);
  // }

  // @media screen and (min-width: 1140px) {
  //   font-size: rem(48);
  //   font-weight: 500;
  //   line-height: rem(52);
  // }
}
