.s-photo {
  @include _768 {
    width: 50%;
    margin-top: var(--a-padding-x12);
    margin-left: rem(16);
  }
  @include _1140 {
    width: rem(330);
  }

  margin-top: var(--a-padding-x3);
  color: var(--color-second);

  &__block {
    padding: var(--a-padding-x6);
    background: var(--color-main);
    border-radius: var(--border-radius-x2);
  }

  &__image {
    @include _1140 {
      width: rem(280);
      height: rem(280);
    }

    display: block;
    width: rem(240);
    height: rem(240);
    margin: 0 auto;
    background: var(--color-body);
    border-radius: 50%;
  }
}
