.s-whatyoulearn {
  color: var(--color-text-contrast);
  background-color: var(--color-bg-secondary);

  &__title {
    margin-bottom: rem(24);

    @media all and (min-width: 1140px) {
      margin-bottom: rem(40);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-8);

    @media all and (min-width: 1140px) {
      margin: 0 rem(-10);
    }

    &-item {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: rem(150);
      margin: 0 rem(8) rem(16);
      padding: var(--a-padding-x4);
      border: rem(1) solid var(--color-border);
      border-radius: var(--border-radius-x3);
      font-size: rem(18);
      font-weight: 500;
      line-height: rem(23);

      @media all and (min-width: 768px) {
        width: calc(50% - 20px);
      }

      @media all and (min-width: 1140px) {
        margin: 0 rem(10) rem(20);
        padding: var(--a-padding-x7) rem(90) var(--a-padding-x7) var(--a-padding-x7);
        font-size: rem(24);
        font-weight: 500;
        line-height: rem(28);
      }
    }

    &-decor {
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(80);
      height: rem(60);

      @media all and (min-width: 1140px) {
        width: rem(88);
        height: rem(76);
      }
    }
  }
}
