/* stylelint-disable */
:root {
  --color-main: #fff;
  --color-second: #272727;
  --color-grey: #eee;
  --color-yellow: #ffc846;
  --color-yellow-light: #ffdf3a;
  .dark-themes {
    --color-main: #272727;
    --color-second: #fff;
    --color-grey: #4d4d4d;
    --color-yellow: #272727;
    --color-yellow-light: #575547;
    .s-header__logo-image,
    .s-header__phone-image {
      filter: invert(1);
    }
  }
}
/* stylelint-enable */
