:root {
  --color-text: #0d1140;
  --color-text-secondary: #6e708c;
  --color-text-tertiary: #9ea0b3;
  --color-text-contrast: #fff;
  --color-bg: #f7f9fd;
  --color-bg-secondary: #0d1140;
  --color-bg-tertiary: #ff0a47;
  --color-bg-contrast: #fff;
  --color-link: #11253d;
  --color-link-hover: #ff0a47;
  --color-button-text-primary: #fff;
  --color-button-bg-primary: #ff0a47;
  --color-button-border-primary: #ff0a47;
  --color-button-text-primary-hover: #0d1140;
  --color-button-bg-primary-hover: #ffd11a;
  --color-button-border-primary-hover: #ffd11a;
  --color-button-text-outline: #0d1140;
  --color-button-bg-outline: transparent;
  --color-button-border-outline: #ff0a47;
  --color-button-text-outline-hover: #0d1140;
  --color-button-bg-outline-hover: #ffd11a;
  --color-button-border-outline-hover: #ffd11a;
  --color-input-text: #0d1140;
  --color-input-bg: #fff;
  --color-input-border: #a8b2c7;
  --color-input-placeholder: #9ea0b3;
  --color-border: #6a7291;
  --color-control-text: #6e708c;
  --color-control-bg: #fff;
  --color-control-border: #ff0a47;
  --color-button-bg-disabled: #a8b2c7;
  --color-button-border-disabled: #a8b2c7;
}
