:root {
  --color-text: #0d1140;
  --color-text-secondary: #6e708c;
  --color-text-tertiary: #9ea0b3;
  --color-text-quaternary: #3d4166;
  --color-text-contrast: #fff;
  --color-text-hover: #ff0a47;
  --color-bg: #f7f9fd;
  --color-bg-secondary: #0d1140;
  --color-bg-tertiary: #ff0a47;
  --color-bg-quaternary: #ffd11a;
  --color-bg-contrast: #fff;
  --color-link: #11253d;
  --color-link-hover: #ff0a47;
  --color-button-text-primary: #fff;
  --color-button-bg-primary: #ff0a47;
  --color-button-border-primary: #ff0a47;
  --color-button-text-primary-hover: #0d1140;
  --color-button-bg-primary-hover: #ffd11a;
  --color-button-border-primary-hover: #ffd11a;
  --color-button-text-secondary: #fff;
  --color-button-bg-secondary: #0d1140;
  --color-button-border-secondary: #0d1140;
  --color-button-text-secondary-hover: #0d1140;
  --color-button-bg-secondary-hover: #ffd11a;
  --color-button-border-secondary-hover: #ffd11a;
  --color-button-text-tertiary: #0d1140;
  --color-button-bg-tertiary: #fff;
  --color-button-border-tertiary: #fff;
  --color-button-text-tertiary-hover: #0d1140;
  --color-button-bg-tertiary-hover: #ffd11a;
  --color-button-border-tertiary-hover: #ffd11a;
  --color-button-text-outline: #0d1140;
  --color-button-bg-outline: #fff;
  --color-button-border-outline: #ff0a47;
  --color-button-text-outline-hover: #0d1140;
  --color-button-bg-outline-hover: #ffd11a;
  --color-button-border-outline-hover: #ffd11a;
  --color-button-text-outline-grey: #0d1140;
  --color-button-bg-outline-grey: #fff;
  --color-button-border-outline-grey: #d3d8e3;
  --color-button-text-outline-grey-hover: #0d1140;
  --color-button-bg-outline-grey-hover: #ffd11a;
  --color-button-border-outline-grey-hover: #ffd11a;
  --color-button-text-outline-secondary: #fff;
  --color-button-bg-outline-secondary: transparent;
  --color-button-border-outline-secondary: #fff;
  --color-button-text-outline-secondary-hover: #0d1140;
  --color-button-bg-outline-secondary-hover: #ffd11a;
  --color-button-border-outline-secondary-hover: #ffd11a;
  --color-input-text: #0d1140;
  --color-input-bg: #fff;
  --color-input-border: #a8b2c7;
  --color-input-placeholder: #9ea0b3;
  --color-border: #6a7291;
  --color-border-secondary: #d3d8e3;
  --color-border-contrast: #fff;
  --color-control-text: #6e708c;
  --color-control-text-contrast: #fff;
  --color-control-bg: #fff;
  --color-control-border: #ff0a47;
  --color-button-bg-disabled: #a8b2c7;
  --color-button-border-disabled: #a8b2c7;
  --color-border-menu: #cdd9ed;
  --color-shadow-menu: #cdd9ed;
  --color-border-accordion: #595d85;
  --color-bg-pagination: #f5f5f5;
  --color-bg-pagination-active: #cfd3d8;
  --color-border-catalog: #cfd3d8;
}
