/* stylelint-disable */
@at-root {
  .dark-themes {
    --color-text: #fff;
    --color-bg: #000;
    --color-text-1: #db1717;
    --color-yellow: #eed706;
    --color-orange: #eed706;
    .header__themes--dark {
      fill: #fff;
    }
  }
}
/* stylelint-enable */
