.m-partner-card {
  padding: var(--a-padding-x4) var(--a-padding-x5);
  background-color: var(--color-bg);
  border: rem(1) solid var(--color-border-secondary);
  border-radius: var(--border-radius-x2);

  @media all and (min-width: 1140px) {
    padding: var(--a-padding-x4) var(--a-padding-x8);
  }

  &__image {
    max-width: 100%;
    margin: 0 auto;
  }
}
