.s-reviews {
  position: relative;
  background-color: var(--color-bg-contrast);

  .swiper-slide {
    height: initial;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: rem(65);
    right: rem(70);
    left: initial;
    width: rem(44);
    height: rem(44);
    margin-top: 0;
    border: rem(1) solid var(--color-border-secondary);
    border-radius: var(--border-radius-x2);
  }

  .swiper-button-prev {
    margin-right: rem(60);

    &::after {
      content: '';
      width: rem(44);
      height: rem(44);
      background: url('/images/icons/arrow-prev.svg') no-repeat center;
    }
  }

  .swiper-button-next {
    &::after {
      content: '';
      width: rem(44);
      height: rem(44);
      background: url('/images/icons/arrow-next.svg') no-repeat center;
    }
  }

  &__title {
    margin-bottom: rem(24);

    @media all and (min-width: 1140px) {
      margin-bottom: rem(40);
    }

    &-tail {
      display: none;

      @media all and (min-width: 768px) {
        display: inline;
      }
    }
  }

  &-swiper-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    @media all and (min-width: 1140px) {
      display: block;
    }
  }

  &-swiper-pagination {
    display: flex;
    margin-top: rem(16);

    @media all and (min-width: 1140px) {
      margin-top: rem(24);
    }

    .swiper-pagination-bullet {
      --swiper-pagination-bullet-width: 100%;
      --swiper-pagination-bullet-inactive-opacity: 1;
      --swiper-theme-color: var(--color-bg-pagination-active);
      --swiper-pagination-bullet-inactive-color: var(--color-bg-pagination);

      height: rem(4);
      border-radius: rem(20);
      transition: all 0.4s ease;
    }
  }
}
