.s-professions {
  background-color: var(--color-bg-secondary);

  &__title {
    margin-bottom: rem(32);
    color: var(--color-text-contrast);

    @media all and (min-width: 1140px) {
      margin-bottom: rem(60);
    }
  }

  &__list {
    color: var(--color-text-contrast);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;

    &--hovered {
      color: var(--color-text-hover);

      &-arrow {
        background-image: url('/images/icons/acc-arrow-hover.svg');
      }
    }

    &--hovered & {
      &-arrow {
        background-image: url('/images/icons/acc-arrow-hover.svg');
      }
    }

    &-name {
      flex: 1;
      margin-left: rem(12);
      font-size: rem(20);
      font-weight: 500;
      line-height: rem(24);

      @media all and (min-width: 768px) {
        margin-left: rem(8);
        font-size: rem(22);
        line-height: rem(24);
      }

      @media all and (min-width: 1140px) {
        width: rem(622);
        margin-left: 0;
        font-size: rem(32);
        line-height: rem(40);
      }
    }

    &-arrow {
      width: rem(24);
      height: rem(40);
      background-image: url('/images/icons/acc-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;

      @media all and (min-width: 1140px) {
        flex: 1;
        margin-right: rem(8);
        background-position: left center;
      }
    }

    &-icon {
      width: rem(49);

      @media all and (min-width: 1140px) {
        order: 1;
        width: rem(80);
        height: rem(62);
      }
    }
  }

  &__button {
    margin-bottom: rem(12);

    &:last-child {
      margin-bottom: 0;
    }

    @media all and (min-width: 1140px) {
      margin-bottom: rem(16);
    }

    @media all and (min-width: 1140px) {
      margin-bottom: 0;
    }

    &-left {
      @media all and (min-width: 1140px) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-right {
      @media all and (min-width: 1140px) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 1140px) {
      flex-direction: row;
    }
  }
}
