.m-direction-card {
  --color-text-description: var(--color-text-secondary);

  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  min-height: rem(324);
  margin-bottom: rem(16);
  padding: var(--a-padding-x6) var(--a-padding-x4);
  background-color: var(--color-bg);
  border: rem(1) solid var(--color-border-secondary);
  border-radius: var(--border-radius-x3);
  transition: all 0.6s ease;

  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media all and (min-width: 1440px) {
    padding: var(--a-padding-x8);
  }

  &:nth-child(6n + 1) & {
    &__description {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: rem(12);
    color: var(--color-text-quaternary);
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(24);

    @media all and (min-width: 1440px) {
      margin-bottom: rem(16);
      font-size: rem(32);
      line-height: rem(40);
    }
  }

  &__description {
    z-index: 1;
    max-width: rem(360);
    color: var(--color-text-description);
    font-size: rem(16);
    line-height: rem(20);

    @media all and (min-width: 1440px) {
      margin-bottom: rem(32);
      font-size: rem(20);
      line-height: rem(28);
    }
  }

  &__button {
    z-index: 1;
    margin-top: auto;
  }

  &__layer {
    position: absolute;
    right: rem(-104);
    bottom: rem(-60);
    width: rem(234);
    height: rem(234);
    transition: all 0.4s ease;

    @media all and (min-width: 768px) {
      right: rem(-88);
      bottom: rem(-60);
      width: rem(223);
      height: rem(223);
    }

    @media all and (min-width: 1440px) {
      right: rem(-120);
      bottom: rem(-110);
      width: rem(380);
      height: rem(380);
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    right: rem(40);
    bottom: rem(74);
    width: rem(65);
    height: rem(65);
    transition: all 0.4s ease;

    @media all and (min-width: 768px) {
      right: rem(68);
      bottom: rem(73);
      width: rem(58);
      height: rem(58);
    }

    @media all and (min-width: 1440px) {
      right: rem(109);
      bottom: rem(100);
      width: rem(100);
      height: rem(100);
    }
  }

  &--hovered {
    background-color: var(--color-bg-tertiary);
    transition: all 0.6s ease;
  }

  &--hovered & {
    &__title {
      color: var(--color-text-contrast);
    }

    &__description {
      color: var(--color-text-contrast);
    }

    &__layer {
      transform: rotate(-10deg);
    }

    &__icon {
      transform: scale(120%) translateX(16px);
    }
  }

  &--big {
    min-height: rem(415);

    @media all and (min-width: 1440px) {
      min-height: initial;
    }
  }

  &--long {
    min-height: rem(415);

    @media all and (min-width: 1440px) {
      min-height: initial;
    }
  }

  &--long & {
    &__description {
      max-width: rem(740);
    }
  }

  &--big & {
    &__layer {
      position: absolute;
      width: rem(234);
      height: rem(234);

      @media all and (min-width: 768px) {
        right: rem(-88);
        bottom: rem(-60);
        width: rem(223);
        height: rem(223);
      }

      @media all and (min-width: 1440px) {
        right: rem(-210);
        bottom: rem(-180);
        width: rem(580);
        height: rem(580);
      }
    }

    &__icon {
      position: absolute;
      z-index: 1;

      @media all and (min-width: 1440px) {
        right: rem(155);
        bottom: rem(226);
      }
    }
  }
}
