.s-whysa {
  max-width: 100vw;
  color: var(--color-text-contrast);
  background: var(--color-bg-secondary);

  @media all and (min-width: 1140px) {
    margin: rem(40) 0;
  }

  .swiper-wrapper {
    @media all and (min-width: 1140px) {
      /* stylelint-disable declaration-no-important */
      display: flex !important;
      box-sizing: inherit !important;
      cursor: default !important;
      transform: translate(0) !important;
      flex-wrap: wrap !important;
      gap: rem(20) !important;
      /* stylelint-enable declaration-no-important */
    }
  }

  &__container {
    overflow-x: hidden;

    // padding: var(--a-padding-x12) var(--a-padding-x4);
    border-radius: rem(12);

    @media all and (min-width: 768px) {
      overflow: visible;

      // padding: var(--a-padding-x12) 30px var(--a-padding-x6);
    }

    // @media all and (min-width: 1140px) {
    //   // padding: var(--a-padding-x15) 70px var(--a-padding-x20);
    // }
  }

  &__img {
    overflow: hidden;
    min-height: rem(129);
    margin-bottom: rem(24);
    border-radius: 12px;

    @media all and (min-width: 1140px) {
      min-height: none;
      margin-bottom: rem(40);
    }
  }

  &__title {
    margin-bottom: rem(24);

    @media all and (min-width: 1140px) {
      margin-bottom: rem(40);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);

    @media all and (max-width: 1140px) {
      gap: 0;
    }

    &-item {
      overflow: hidden;
      box-sizing: border-box;
      height: auto;
      padding: rem(16);
      background: var(--color-text);
      border: rem(1) solid var(--color-border);
      border-radius: rem(12);

      @media all and (min-width: 1140px) {
        /* stylelint-disable declaration-no-important */
        width: 100% !important;
        height: initial !important;
        padding: rem(32);
        /* stylelint-enable declaration-no-important */
      }

      @media all and (min-width: 1440px) {
        /* stylelint-disable declaration-no-important */
        width: calc(50% - 10px) !important;
        /* stylelint-enable declaration-no-important */
      }
    }
  }

  &__swiper {
    &-pagination {
      position: relative;
      /* stylelint-disable declaration-no-important */
      bottom: 0 !important;
      /* stylelint-enable declaration-no-important */
      display: flex;
      gap: rem(8);
      justify-content: space-between;
      margin-top: rem(24);

      span {
        width: calc(16.666% - 8px);
        height: rem(4);
        /* stylelint-disable declaration-no-important */
        margin: 0 !important;
        /* stylelint-enable declaration-no-important */
        background: #cfd3d8;
        border-radius: rem(10);

        @media all and (min-width: 768px) {
          width: calc(33.333% - 8px);
        }
      }

      @media all and (min-width: 1140px) {
        display: none;
      }
    }
  }

  &-block {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

    @media all and (min-width: 1140px) {
      justify-content: space-between;
    }

    &:hover {
      /* stylelint-disable selector-class-pattern */
      .s-whysa-block__icon {
        transform: rotateZ(-15deg);
      }
      /* stylelint-enable selector-class-pattern */
    }

    &__title {
      margin-bottom: rem(16);
      font-size: rem(20);
      font-weight: 500;
      line-height: rem(24);

      @media all and (min-width: 1140px) {
        margin-bottom: rem(20);
        font-size: rem(32);
        line-height: rem(40);
      }
    }

    &__description {
      max-width: rem(430);
      margin-bottom: rem(120);
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(24);

      @media all and (min-width: 1140px) {
        margin-bottom: 0;
        font-size: rem(18);
        line-height: rem(26);
      }
    }

    &__icon {
      position: absolute;
      z-index: -1;
      right: rem(-140);
      bottom: rem(-160);
      transition: 0.3s;
      @media all and (min-width: 1140px) {
        right: rem(-210);
        bottom: rem(-160);
      }

      svg {
        width: rem(300);
        height: rem(270);
        @media all and (min-width: 1140px) {
          width: rem(369);
          height: rem(329);
        }
      }
    }
  }
}
