.m-menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: rem(8);

    @media all and (min-width: 1140px) {
      margin-right: rem(14);
    }

    @media all and (min-width: 1430px) {
      margin-right: rem(24);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: var(--color-link);
    font-weight: 500;
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-link-hover);
    }

    &.active {
      color: var(--color-link-hover);
    }
  }

  &--horizontal & {
    &__list {
      flex-direction: row;
      align-items: center;
    }
  }

  &--vertical & {
    &__list {
      flex-direction: column;
      align-items: initial;
    }
  }
}
