.m-review-card {
  padding: var(--a-padding-x6) var(--a-padding-x4);
  background-color: var(--color-bg);
  border: rem(1) solid var(--color-border-secondary);
  border-radius: var(--border-radius-x3);

  @media all and (max-width: 767px) {
    height: calc(100% - 50px);
  }

  @media all and (min-width: 1140px) {
    padding: var(--a-padding-x8) var(--a-padding-x10);
  }

  &__header {
    display: flex;
    margin-bottom: rem(16);
  }

  &__image {
    max-width: 100%;
  }

  &__picture {
    overflow: hidden;
    width: rem(48);
    height: rem(48);
    margin-right: rem(12);
    border-radius: var(--border-radius-x2);

    @media all and (min-width: 1140px) {
      width: rem(56);
      height: rem(56);
    }
  }

  &__info {
    flex: 1;
  }

  &__title {
    margin-bottom: rem(4);
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(24);

    @media all and (min-width: 1140px) {
      font-size: rem(28);
      line-height: rem(32);
    }
  }

  &__date {
    color: var(--color-text-tertiary);
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(16);

    @media all and (min-width: 1140px) {
      font-size: rem(16);
      line-height: rem(20);
    }
  }

  &__description {
    color: var(--color-text-secondary);
    font-size: rem(16);
    line-height: rem(20);

    @media all and (min-width: 1140px) {
      font-size: rem(18);
      line-height: rem(24);
    }
  }
}
