@import '@/assets/styles/tools/mixins';
/* stylelint-disable */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem(5) 0;
  color: var(--color-text);
  background: var(--color-bg);
  transition: all 0.3s ease;

  &.invisible {
    transform: translateY(-100%);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: rem(45);
    opacity: 0.1;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;

    .ham {
      cursor: pointer;
      user-select: none;
      transition: transform 0.5s;
    }

    .hamRotate.active {
      transform: rotate(45deg);
    }

    .hamRotate180.active {
      transform: rotate(180deg);
    }

    .line {
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      fill: none;
      stroke: var(--color-text);
      stroke-width: 6.5;
      stroke-linecap: round;
    }

    .hamR .top {
      stroke-dasharray: 40 121;
    }

    .hamR .bottom {
      stroke-dasharray: 40 121;
    }

    .hamR.active .top {
      stroke-dashoffset: -68px;
    }

    .hamR.active .bottom {
      stroke-dashoffset: -68px;
    }
  }
}
/* stylelint-enable */
