@import '@/assets/styles/tools/mixins';

.header {
  color: var(--color-text);
  background: var(--color-bg);

  &__test {
    padding: rem(10);
    color: var(--color-text-1);
    font-size: rem(20);
  }
}
