.s-header {
  position: relative;
  padding: var(--a-padding-x3) 0;
  background-color: var(--color-bg-contrast);

  @media all and (min-width: 768px) {
    padding: var(--a-padding-x3) 0 var(--a-padding-x4);
  }

  @media all and (min-width: 1140px) {
    padding: var(--a-padding-x6) 0;
  }

  &__logo {
    width: rem(167);
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--a-padding-x4);

    @media all and (min-width: 1430px) {
      flex-wrap: none;
      padding: 0;
    }
  }

  &__menu {
    order: 1;
    width: 100%;
    margin-top: rem(12);

    @media all and (min-width: 1440px) {
      order: 0;
      width: auto;
      margin-top: 0;
      margin-left: rem(44);
    }
  }

  &__menu-popup {
    position: absolute;
    z-index: 10;
    top: rem(64);
    right: 0;
    left: 0;
    padding: var(--a-padding-x2) var(--a-padding-x4) var(--a-padding-x5);
    background-color: var(--color-bg-contrast);
    border-top: rem(1) solid var(--color-border-menu);
    box-shadow: 0 1px 4px rgba(#cdd9ed, 0.4);
  }

  &__menu-mobile {
    .m-menu {
      &__item {
        margin-right: 0;
        padding-top: var(--a-padding-x2);
        padding-bottom: var(--a-padding-x2);
        border-bottom: rem(1) solid var(--color-border-menu);

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &__actions {
    margin-left: rem(2);

    @media all and (min-width: 769px) {
      margin-left: rem(32);
    }
  }

  &__phone {
    margin-left: auto;
    line-height: rem(20);

    &-number {
      display: none;
      font-size: rem(14);
      font-weight: 500;
      transition: all 0.4s ease;

      @media all and (min-width: 769px) {
        display: block;
      }

      &:hover {
        color: var(--color-link-hover);
      }
    }
  }

  &__button {
    margin-right: rem(2);

    @media all and (min-width: 576px) {
      margin-right: rem(8);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__burger {
    width: rem(36);
    height: rem(36);
  }
}
