.s-about {
  margin: var(--a-padding-x12) 0;

  &__block {
    padding: var(--a-padding-x6);
    background: var(--color-main);
    border-radius: var(--border-radius-x2);
  }

  &__description {
    margin-top: rem(24);
  }
}
