.s-swiper {
  overflow: hidden;
  box-sizing: border-box;
  color: var(--color-second);
  grid-area: swiper;

  .swiper-slide {
    overflow: hidden;
    border-radius: var(--border-radius-x3);
  }

  &__title {
    margin-bottom: rem(24);
  }

  &__block {
    padding: var(--a-padding-x6);
    background: var(--color-main);
    border-radius: var(--border-radius-x2);
  }

  &__item {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__navigation {
    display: none;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: rem(20) auto 0;

    .swiper-pagination-bullet {
      width: rem(10);
      height: rem(10);
      background: var(--color-brilliant);
      opacity: 1;
      transition: 0.3s;

      &-active {
        width: rem(45);
        height: rem(10);
        background: var(--color-pink);
        border-radius: rem(12);
      }
    }
  }

  // .swiper-wrapper{
  //   width: 100%;
  //   overflow: hidden;
  // }
}
