.s-request {
  background-color: var(--color-bg-tertiary);
  background-repeat: no-repeat;
  background-position: right top;

  @media all and (min-width: 1140px) {
    background-image: url('/images/bg-request.png');
  }

  &__title {
    margin-bottom: rem(32);
    color: var(--color-text-contrast);

    @media all and (min-width: 1140px) {
      margin-bottom: rem(32);
    }
  }

  &__input {
    margin-bottom: rem(16);

    @media all and (min-width: 1140px) {
      width: 25%;
      margin-right: rem(16);
      margin-bottom: 0;
    }
  }
}
