@use 'sass:math';

$circle-size: 10px;

.circle-cursor {
  position: fixed;
  z-index: 999;
  top: math.div($circle-size, -2);
  left: math.div($circle-size, -2);
  width: $circle-size;
  height: $circle-size;
  background-color: var(--color-text);
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 15px 6px rgb(113 34 218 / 73%);
  pointer-events: none;

  // transition: transform 0.1s ease-out, opacity 0.1s linear 0.2s;
  // will-change: transform, opacity;

  &--visible {
    opacity: 1;
  }
}
