.m-program-card {
  position: relative;
  overflow: hidden;
  min-height: rem(232);
  padding: var(--a-padding-x5) var(--a-padding-x4);
  background-color: var(--color-bg);
  border: rem(1) solid var(--color-border-secondary);
  border-radius: var(--border-radius-x3);
  transition: all 0.6s ease;

  @media all and (min-width: 1140px) {
    min-height: rem(324);
    padding: var(--a-padding-x8);
  }

  &__title {
    margin-bottom: rem(16);
    color: var(--color-text-quaternary);
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(24);

    @media all and (min-width: 1440px) {
      font-size: rem(32);
      line-height: rem(40);
    }
  }

  &__description {
    display: -webkit-box;
    overflow: hidden;
    max-width: rem(249);
    max-height: rem(112);
    margin-bottom: var(--a-padding-x10);
    color: var(--color-text-secondary);
    font-size: rem(14);
    line-height: rem(16);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    @media all and (min-width: 1440px) {
      max-width: rem(394);
      font-size: rem(20);
      line-height: rem(28);
    }
  }

  &__actions {
    position: absolute;
    right: rem(16);
    left: rem(16);
    bottom: rem(20);

    @media all and (min-width: 1440px) {
      left: rem(32);
      bottom: rem(32);
    }
  }

  &__button {
    width: 100%;
    max-width: rem(108);
    margin-right: rem(12);

    @media all and (min-width: 1140px) {
      max-width: rem(179);
      margin-right: rem(24);
    }

    @media all and (min-width: 1440px) {
      max-width: rem(179);
      margin-right: rem(24);
    }
  }

  &__link {
    color: var(--color-text-secondary);
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(14);

    @media all and (min-width: 1440px) {
      font-size: rem(18);
      line-height: rem(20);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    position: absolute;
    right: rem(-30);
    bottom: 0;
    width: rem(158);
    height: rem(158);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media all and (min-width: 768px) {
      right: 0;
      width: rem(110);
      height: rem(110);
    }

    // @media all and (min-width: 1140px) {
    //   right: 0;
    //   width: rem(110);
    //   height: rem(110);
    // }

    @media all and (min-width: 1440px) {
      right: 0;
      width: rem(250);
      height: rem(250);
    }
  }

  &--hovered {
    background-color: var(--color-bg-tertiary);
  }

  &--hovered & {
    &__title {
      color: var(--color-text-contrast);
    }

    &__description {
      color: var(--color-text-contrast);
    }

    &__link {
      color: var(--color-text-contrast);
    }
  }
}
