.a-control {
  &__input {
    display: none;
  }

  &__container {
    display: flex;
  }

  &__trigger {
    width: rem(16);
    height: rem(16);
    background-color: var(--color-control-bg);
    border-width: rem(1);
    border-style: solid;
    border-color: var(--color-control-border);
    border-radius: var(--border-radius-x1);
    cursor: pointer;

    &--checked {
      background-image: url('/images/icons/checked.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__text {
    flex: 1;
    margin-left: rem(8);
    color: var(--color-control-text);
    font-size: rem(12);
    font-weight: 500;
    cursor: pointer;

    &--contrast {
      color: var(--color-control-text-contrast);
    }
  }
}
